* {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes floatIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes scaleButton {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000af;
}

.container2 {
    background: linear-gradient(rgba(148, 87, 235, 0.7), rgba(92, 29, 180, 0.7)), url('../../Kahatoon/images/college\ gradu-grady.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    animation: floatIn 1.5s ease-in-out forwards;
}

header {
    background-color: #3498dbb7;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    animation: floatIn 1.5s ease-in-out forwards;
}

h1, h2, li, tr, table {
    animation: floatIn 1.5s ease-in-out forwards;
}

h1 {
    margin: 0;
}

section {
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db85;
    color: #fff;
}

.exit-button {
    text-decoration: none;
    z-index: 2;
    background-color: #ff5f56; /* Red color for Mac exit button */
    color: #000000;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 150px;
    border: 2px solid #e0443e; /* Darker red border */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
    animation: fadeIn 3.5s ease-in-out forwards;
}

.exit-button:hover {
    background-color: #e0443e; /* Darker red on hover */
    color: #fff;
}
