*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(95, 101, 255, 1)), url(../img/53-vstrechaj-strana-litso-taraza.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(95, 101, 255, 1);
    }

.text-trz{
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 46vh;
    top: 432px;
    color: aliceblue;
    opacity: 34%;
    font-size: 250px;
    font-family: 'Cinzel', serif;
}
.nav-bar{
    max-width: 10px;
    max-height: 500px;
    
}
.nav-bar button{
    width: 400px;
    height: 100px;
    margin-top: 200px;
    border-radius: 50px;
    margin-left: -35px;
    background-color: rgba(255, 255, 255, 1);
}
.nav-bar button a{
    font-family: 'Khand', serif;
    text-decoration: none;
    font-size: 60px;
    color: rgba(95, 101, 255, 1);
}
.image_1{
    margin-top: 500px;
    display: flex;
    justify-content: end;
    
}
.image_2{
    display: flex;
    justify-content: end;
}
.page-of-inf{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 48px;
    color: white;
    margin-left: 184px;
    margin-right: 184px;
}
.image_3{
    margin-top: -200px;
    display: flex;
    justify-content: baseline;
}
.image_4{
    display: flex;
    justify-content: baseline;
}
.round-img{
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

    .gr-img-1 img{
        transition: 0.5s ;
        cursor: pointer; 
        filter: grayscale(100%); 
    }
        .gr-img-1 img:hover{
            transform: scale(1.3);
            filter: grayscale(0%);
        }
        
.gr-img-2{
    margin-left: 100px;
    
}
    .gr-img-2 img{
        transition: 0.5s ;
        cursor: pointer; 
        filter: grayscale(100%); 
        }
            .gr-img-2 img:hover{
                transform: scale(1.3);
                filter: grayscale(0%);
            }
.gr-img-3{
    margin-left: 100px;
}
    .gr-img-3 img{
        transition: 0.5s ;
        cursor: pointer;  
        filter: grayscale(100%);
        }
            .gr-img-3 img:hover{
                transform: scale(1.3);
                filter: grayscale(0%);
            }
.gr-img-4{
    margin-left: 100px;
}
    .gr-img-4 img{
        transition: 0.5s ;
        cursor: pointer; 
        filter: grayscale(100%); 
        }
            .gr-img-4 img:hover{
                transform: scale(1.3);
                filter: grayscale(0%);
            }
.gr-img-5{
    margin-left: 100px;
}
    .gr-img-5 img{
        transition: 0.5s ;
        cursor: pointer; 
        filter: grayscale(100%);
        }
            .gr-img-5 img:hover{
                transform: scale(1.3);
                filter: grayscale(0%);
            }
.dr-foot{
    margin-top: 330px;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    background-color: black;
}    

.tables {
    color: aliceblue;
    margin: 100px;
}
.tables a{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.dr-foot{
    display: flex;
    align-items: center;
}
