* {
    
    
    opacity: 0; /* Устанавливаем начальную прозрачность 0 */
    animation: fadeIn 1.5s ease-in-out forwards; /* Анимация появления */
}
body {
    background-image: url('../../Kahatoon/images/JIHC_Footer.JPG');
    background-size: cover; /* Растягивает фон, чтобы он покрыл весь экран */
    background-position: center; /* Центрирует фон по центру экрана */
    background-repeat: no-repeat; /* Запрещает повторение фона */
    background-color: violet; /* Цвет фона, который будет виден, если изображение не загрузится или не будет полностью покрывать экран */
    color: white; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт текста */    margin: 0; /* Убираем отступы по умолчанию у body */
    height: 100vh; /* Заполняем высоту всего окна браузера */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
  }
  
  /* Дополнительные стили для контента, если необходимо */
  .content {
    color: #000000; /* Цвет текста белый */
    padding: 20px; /* Отступы вокруг контента */
    border: 1px solid #ffffff; /* Белая рамка вокруг контента */
  }
  

@keyframes fadeIn {
    from {
        opacity: 0; /* Начальная прозрачность 0 */
    }
    to {
        opacity: 1; /* Конечная прозрачность 1 */
    }
}

h1 {
    margin-left: 25px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    background-color: rgba(128, 128, 128, 0.591);
    width: 40%;
    
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    color: #0a0909;
}

textarea {
    background-color: aliceblue;
    width: 40%;
    
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus-within {
    outline: none;
    border-color: rgb(30, 33, 33);
    border-width: 5px;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(95, 101, 101);
    border-width: 6px;
}






.btn2 {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    
    display: flex;
    color: #ffffff;
    
}

button:hover {
    opacity: 80%;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;

}

.btn1:hover {
    opacity: 88%;
    font-size: 13px;
    transition: 0.5s;
    background-color: aliceblue;
    color: #000000;
    cursor: pointer;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  20px;
    background-color: #ffffffaf;
    border-radius: 40px;
    
    
}