* {
    background-color: #3535ac;
    background-color: #3535ac;
    opacity: 0; /* Устанавливаем начальную прозрачность 0 */
    animation: fadeIn 1.5s ease-in-out forwards; /* Анимация появления */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Начальная прозрачность 0 */
    }
    to {
        opacity: 1; /* Конечная прозрачность 1 */
    }
}

h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea {
    background-color: aliceblue;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus-within {
    outline: none;
    border-color: rgb(30, 33, 33);
    border-width: 8px;
}

textarea:focus-within {
    outline: none;
    border-color: rgb(95, 101, 101);
    border-width: 6px;
}



.btn1 {
    background-color: rgb(22, 150, 159);
    border-radius: 10px;
    border-color: black;
    font-size: 22px;
    padding: 20px 20px;
    margin-left:  100px;
    text-decoration: none;
    color: black;
    
    
}

.btn2 {
    background-color: rgb(49, 191, 196);
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

button:hover {
    opacity: 80%;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;

}

.btn1:hover {
    opacity: 88%;
    font-size: 30px;
    transition: 0.5s;
    background-color: aliceblue;
    cursor: pointer;

}
